//variables

$color-titulo:#253669;
$color-subtitulo:#625EE8;
$color-parrafo:#707070;
$color-boton:#625EE8;
$color-blanco:#ffffff;
//font
$font:'Open Sans', sans-serif;
$titulo:2.3em;
$subtitulo:1.5em;
$parrafo:1em;
$texto-footer:.8em;


